{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
<div class="page-header">
<span style="font-size: 25px ">Hello</span>

<span style="font-size: 25px">{{ current_user.username }}!</span>
<div>
    <h1>You have not confirmed your account yet .</h1>
    <p>Before you can access this site, you need to confirm you account .Check you inbox
    ,you should have received an email with a confirmation link .
    </p>
    Need another confirmation email ?<a href="{{ url_for('auth.resend_confirmation') }}">click here</a>
</div>
</div>
{% endblock %}